<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edwin.dao.OrderDao">

    <!--save-->
    <insert id="save" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into `order` values (#{id},#{order_number},#{user_id},#{event_id},#{ticket_amount},#{total_price},#{status},#{created_at},#{updated_at})
    </insert>

    <!--update-->
    <select id="update"  parameterType="Order" parameterMap="Integer">
        update `order` set  `status` = #{status}, updated_at = #{updated_at} where id = #{id}
    </select>

    <!--find by order number-->
    <select id="findByOrderNumber" parameterType="Integer" resultType="Order">
        select `id`,`order_number`,`user_id`,`event_id`,`ticket_amount`,`total_price`, `status`, `created_at`, `updated_at`
        from `order` where `order_number` = #{order_number}
    </select>

    <!--findAll-->
    <select id="findAll" resultType="Order" parameterType="Integer">
        select `id`,`order_number`,`user_id`,`event_id`,`ticket_amount`,`total_price`, `status`, `created_at`, `updated_at` from `order` where `user_id` = #{user_id}
    </select>

    <!--findOne-->
    <select id="findOne"  parameterType="Integer" resultType="Order">
        select `id`,`order_number`,`user_id`,`event_id`,`ticket_amount`,`total_price`, `status`, `created_at`, `updated_at` from `order` where `id` = #{id}
    </select>

</mapper>